.control-panel tr,
.control-panel td,
.control-panel th {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    background-color: transparent !important;
}

.panel-pills {
    padding: 0;
    margin: 0;
}
